# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Distribution
dist/
build/
*.egg-info/

# Logs
logs/

# Other
.DS_Store

